<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- A launcher must see every app that has a launcher entry. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application>
        <!-- taskAffinity="" keeps Home out of the app's default task: otherwise launching
             MesOS Settings (same package, same affinity) just brings the Home task back
             to the front instead of opening Settings. Launcher3 does the same. -->
        <activity
            android:name=".HomeActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:resumeWhilePausing="true"
            android:stateNotNeeded="true"
            android:taskAffinity=""
            android:theme="@style/Theme.MesOS"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
